<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header class="section">
    <div class="container">
        <h1 class="title">Dog Likes</h1>
    </div>
</header>
<section class="section">
    <div class="container">
        <p class="dog_image_container">
            <img src="img/sample_dog.jpeg" class="dog_image">
        </p>
        <form class="buttons_line">
            <div class="buttons_line">
                <button class="like_btn"><i class="fa fa-thumbs-up"></i> Like</button>
                <button class="dislike_btn"><i class="fa fa-thumbs-down"></i> Dislike</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>